@media (max-width:767px){
  
  .bkimg1{
  	    margin-left:0px;
  }

  .txtposition{

  	 margin-left:25px;
  	 background-color: white;
  	 opacity: 0.8; 
  	   }

  	   .gymmingbg{
  	   	height: 200vh;
  	   }



.imgstyle{
	width: 190px;
	height: 190px;
}

.bmibg{
	height: 180vh;
}
.video{
	width:500px;
}
}
.oursevicesbg{
  height: 140vh;
}
.gallerybg{
 height: 140vh;
}

}